/* Header Container */
.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #306b39;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  display: block;
  padding: 10px;
  margin: 10px 0;
  color: white;
  text-decoration: none;
  background-color: #4caf50;
  border-radius: 5px;
  text-align: center;
  width: 80%;
}

.button:hover {
  background-color: #45a049;
}

/* Animation for Chat Toggle Button */
@keyframes pulseAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.05); }
  100% { transform: scale(1); }
}

.chatToggle {
  background: #ff7800;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  animation: pulseAnimation 2s infinite;
}

.chatToggle:hover {
  background: #ff9500;
  animation: none;
}

/* App Container */
.appContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Chatbot Container */
.chatbotContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 550px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

/* Map Title and Description Styles */
.mapTitle {
  margin-left: 250px;
  padding-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #2e7d32;
  text-align: center;
  position: relative;
}

.mapTitle::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #2e7d32;
}

.mapDescription {
  margin-left: 250px;
  padding-top: 10px;
  font-size: 18px;
  color: #555;
  text-align: center;
  position: relative;
}

.mapDescription strong {
  color: #2e7d32;
  font-weight: bold;
  text-decoration: underline;
}

.descriptionIcon {
  vertical-align: middle;
  margin-right: 8px;
  color: #2e7d32;
}

/* Map Container Styles */
.mapContainer {
  width: calc(100% - 250px);
  height: calc(100vh - 60px);
  margin-left: 250px;
  padding-top: 20px;
  position: relative;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.mapInput {
  width: 300px;
  margin-left: 250px;
  padding: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.infoWindow {
  max-width: 400px;
}

.infoWindow img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* About Us Styles */
.aboutUsSection {
  text-align: center;
  padding: 40px;
  max-width: 1000px;
  margin: 0 auto;
}

.aboutUsTitle {
  font-size: 3em;
  color: #2e7d32;
  margin-bottom: 20px;
  font-weight: bold;
}

.aboutUsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.aboutUsImage {
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.welcomeMessage {
  font-size: 1.4em;
  color: #2e7d32;
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 800px;
  line-height: 1.6;
}

.aboutUsText {
  max-width: 800px;
  margin: 0 auto;
}

.aboutUsDescription {
  font-size: 1.4em;
  color: #2e7d32;
  line-height: 1.6;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .aboutUsContent {
    flex-direction: column;
  }

  .aboutUsImage {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }

  .welcomeMessage, .aboutUsDescription {
    font-size: 1em;
  }

  .aboutUsTitle {
    font-size: 2em;
  }
}